/** 
Escribir el CSS necesario aqui
*/
body{
align-content: center;
}

.modelo-caja{
	text-align: center;
	width: 1100px;
	margin: 100px 50px;
	border-color: #3F025B;
	border-style: solid;
	padding: 15px 15px 35px 50px;
	background-color: #E5D9D9;
	border-width: 20px 10px;
	

}

#texto{
	border: 2px dashed green;
	padding: 10px;
	background-color: #FFFFFF;
}